

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Asegúrate de que html y body tengan una altura completa */
html, body {
  height: 100%; /* Agregado */
  margin: 0;    /* Elimina márgenes por defecto */
}

body {
  color: black !important;  background: rgb(255, 255, 255) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.padding_input{
  padding: 5px !important;
}

.scroll_container {
  overflow-y: auto;
  max-height: calc(100% - 2rem); /* Ajusta el alto disponible para contenido */
  padding-right: 0.5rem; /* Agrega espacio para el scroll */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page-transition {
  transition: opacity 0.3s ease-in-out;
}

.page-transition.fade-in {
  opacity: 1;
}

.page-transition.fade-out {
  opacity: 0;
}
